node_modules
.wwebjs_auth
data
database.json
*.tmp
.git
.gitignore
.gitattributes
.env
CAPACITACION.txt
INSTRUCCIONES.txt
EDITORIAL GES
kjaras-web
qr.png
iniciar.bat
install.ps1
setup-oracle.sh
docker-compose.yml
.github
